body {
    font-size: 1.3em;
    text-align: left;
}


.personal-photo {
    display: flex;
    justify-content: center;
}

body p {}

div img {
    width: 216px;
    height: 261px;
}

main {
    margin-top: 75px;
    margin-left: 15px;
}

.Header {
    margin-bottom: 45px;
}